<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>Alafein</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>alafein</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>$(FLUTTER_BUILD_NAME)</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>$(FLUTTER_BUILD_NUMBER)</string>
        <key>FacebookAppID</key>
        <string>7679920488724988</string>
        <key>FacebookClientToken</key>
        <string>036b397dfb744a5b009c89ea36097406</string>
        <key>FacebookDisplayName</key>
        <string>Ala fein</string>
        <key>GIDClientID</key>
        <string>587761639039-7tc1823ips55gt7afa13i4b1r3r2ng11.apps.googleusercontent.com</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-share-api</string>
        </array>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>NSCalendarsUsageDescription</key>
        <string>We need access to your calendar to schedule events and reminders.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>Allow this app to access your photos to be able to change your picture</string>
        <key>UIApplicationSupportsIndirectInputEvents</key>
        <true/>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.587761639039-7tc1823ips55gt7afa13i4b1r3r2ng11</string>
                    <string>fb7679920488724988</string>
                </array>
            </dict>
        </array>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>FLTEnableImpeller</key>
        <false/>
        <key>com.apple.security.network.client</key>
        <true/>
    </dict>
</plist>
